menu "System"

    rsource "devinfo/Kconfig.in"
    rsource "version/Kconfig.in"
    rsource "sys_threadpool/Kconfig.in"
    rsource "power/Kconfig.in"
    rsource "ntp/Kconfig.in"
    rsource "lot_littlefs/Kconfig.in"

endmenu
