menu "Launch"

config LOT_LAUNCH_MAX_APPS
    int "Max launch app count"
    range 1 64
    default 16
    help
        Maximum number of app init entries that can be registered
        before launch_entry() executes them.

endmenu
